# Lending Club Case Study

## Project Plan:

# Data Understanding
    1. Load the dataset
# Data Cleaning and Manipulation
    2. Explore and clean the data
    3. Address missing data and outliers
    4. Convert data to suitable/correct format
# Data Analysis
    5. Perform Univariate and Segmented Univariate Analysis
    6. Create Business-driven, type-driven, and data-driven metrics for important variables
    7. Perform Bivariate analysis to identify combinations of driver variables
    8. Create appropriate plots
# Presentation and Recommendations
    9. Clear and Concise
    10. Realistic recommendations
    11. Upload files

In [3]:
### Load the libraries etc
### Load the dataset

### Data Understanding

#### Load the Dataset & Explore

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, time, date

In [7]:
df = pd.read_csv(r'C:\Users\Chris\MSc Data Science ML AI\2_Data Toolkit\Lending Club Case Study\loan.csv', header=0)

C:\Users\Chris\AppData\Local\Temp\ipykernel_8964\3015290665.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\Chris\MSc Data Science ML AI\2_Data Toolkit\Lending Club Case Study\loan.csv', header=0)

In [11]:
df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [21]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [22]:
df.shape

(39717, 111)

In [23]:
df.dtypes.value_counts()

float64    74
object     24
int64      13
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [27]:
def missing_check(df):
    total = df.isnull().sum().sort_values(ascending=False) # total number of null values
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False) #percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) # putting the above two together
    return missing_data # return the dataframe

missing_check(df)

                           Total  Percent
verification_status_joint  39717      1.0
annual_inc_joint           39717      1.0
mo_sin_old_rev_tl_op       39717      1.0
mo_sin_old_il_acct         39717      1.0
bc_util                    39717      1.0
...                          ...      ...
delinq_amnt                    0      0.0
policy_code                    0      0.0
earliest_cr_line               0      0.0
delinq_2yrs                    0      0.0
id                             0      0.0

[111 rows x 2 columns]