# Lending Club Case Study

## Project Plan:

# Data Understanding
    1. Load the dataset
# Data Cleaning and Manipulation
    2. Explore and clean the data
    3. Address missing data and outliers
    4. Convert data to suitable/correct format
# Data Analysis
    5. Perform Univariate and Segmented Univariate Analysis
    6. Create Business-driven, type-driven, and data-driven metrics for important variables
    7. Perform Bivariate analysis to identify combinations of driver variables
    8. Create appropriate plots
# Presentation and Recommendations
    9. Clear and Concise
    10. Realistic recommendations
    11. Upload files

In [32]:
### Load the libraries
### Load the dataset

### Data Understanding

#### Load the Dataset & Explore

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, time, date

In [34]:
df = pd.read_csv(r'C:\Users\Chris\MSc Data Science ML AI\2_Data Toolkit\LendingClubCaseStudy\loan.csv', header=0)

C:\Users\Chris\AppData\Local\Temp\ipykernel_21004\3359945323.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\Chris\MSc Data Science ML AI\2_Data Toolkit\LendingClubCaseStudy\loan.csv', header=0)

In [35]:
df.dtypes

id                           int64
member_id                    int64
loan_amnt                    int64
funded_amnt                  int64
funded_amnt_inv            float64
term                        object
int_rate                    object
installment                float64
grade                       object
sub_grade                   object
emp_title                   object
emp_length                  object
home_ownership              object
annual_inc                 float64
verification_status         object
issue_d                     object
loan_status                 object
pymnt_plan                  object
url                         object
desc                        object
purpose                     object
title                       object
zip_code                    object
addr_state                  object
dti                        float64
delinq_2yrs                  int64
earliest_cr_line            object
inq_last_6mths               int64
mths_since_last_delinq     float64
mths_since_last_record     float64
open_acc                     int64
pub_rec                      int64
revol_bal                    int64
revol_util                  object
total_acc                    int64
initial_list_status         object
out_prncp                  float64
out_prncp_inv              float64
total_pymnt                float64
total_pymnt_inv            float64
total_rec_prncp            float64
total_rec_int              float64
total_rec_late_fee         float64
recoveries                 float64
collection_recovery_fee    float64
last_pymnt_d                object
last_pymnt_amnt            float64
next_pymnt_d                object
last_credit_pull_d          object
dtype: object

In [36]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d'],
      dtype='object')

In [37]:
df.shape

(39717, 49)

In [38]:
df.dtypes.value_counts()

object     23
float64    16
int64      10
dtype: int64

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 49 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  pymnt_plan               39717 non-null  object
 18  url                      39717 non-null  object
 19  desc                     26777 non-null  object
 20  purpose                  39717 non-null  object
 21  title                    39706 non-null  object
 22  zip_code                 39717 non-null  object
 23  addr_state               39717 non-null  object
 24  dti                      39717 non-null  float64
 25  delinq_2yrs              39717 non-null  int64
 26  earliest_cr_line         39717 non-null  object
 27  inq_last_6mths           39717 non-null  int64
 28  mths_since_last_delinq   14035 non-null  float64
 29  mths_since_last_record   2786 non-null   float64
 30  open_acc                 39717 non-null  int64
 31  pub_rec                  39717 non-null  int64
 32  revol_bal                39717 non-null  int64
 33  revol_util               39667 non-null  object
 34  total_acc                39717 non-null  int64
 35  initial_list_status      39717 non-null  object
 36  out_prncp                39717 non-null  float64
 37  out_prncp_inv            39717 non-null  float64
 38  total_pymnt              39717 non-null  float64
 39  total_pymnt_inv          39717 non-null  float64
 40  total_rec_prncp          39717 non-null  float64
 41  total_rec_int            39717 non-null  float64
 42  total_rec_late_fee       39717 non-null  float64
 43  recoveries               39717 non-null  float64
 44  collection_recovery_fee  39717 non-null  float64
 45  last_pymnt_d             39646 non-null  object
 46  last_pymnt_amnt          39717 non-null  float64
 47  next_pymnt_d             1140 non-null   object
 48  last_credit_pull_d       39715 non-null  object
dtypes: float64(16), int64(10), object(23)
memory usage: 14.8+ MB

In [40]:
def missing_check(df):
    total = df.isnull().sum().sort_values(ascending=False) # total number of null values
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False) #percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) # putting the above two together
    return missing_data # return the dataframe

missing_check(df)

                         Total   Percent
next_pymnt_d             38577  0.971297
mths_since_last_record   36931  0.929854
mths_since_last_delinq   25682  0.646625
desc                     12940  0.325805
emp_title                 2459  0.061913
emp_length                1075  0.027066
last_pymnt_d                71  0.001788
revol_util                  50  0.001259
title                       11  0.000277
last_credit_pull_d           2  0.000050
total_rec_prncp              0  0.000000
total_rec_int                0  0.000000
total_pymnt_inv              0  0.000000
inq_last_6mths               0  0.000000
out_prncp_inv                0  0.000000
out_prncp                    0  0.000000
initial_list_status          0  0.000000
total_acc                    0  0.000000
total_rec_late_fee           0  0.000000
recoveries                   0  0.000000
revol_bal                    0  0.000000
collection_recovery_fee      0  0.000000
pub_rec                      0  0.000000
open_acc                     0  0.000000
last_pymnt_amnt              0  0.000000
total_pymnt                  0  0.000000
id                           0  0.000000
earliest_cr_line             0  0.000000
delinq_2yrs                  0  0.000000
loan_amnt                    0  0.000000
funded_amnt                  0  0.000000
funded_amnt_inv              0  0.000000
term                         0  0.000000
int_rate                     0  0.000000
installment                  0  0.000000
grade                        0  0.000000
sub_grade                    0  0.000000
home_ownership               0  0.000000
annual_inc                   0  0.000000
verification_status          0  0.000000
issue_d                      0  0.000000
loan_status                  0  0.000000
pymnt_plan                   0  0.000000
url                          0  0.000000
purpose                      0  0.000000
zip_code                     0  0.000000
addr_state                   0  0.000000
member_id                    0  0.000000
dti                          0  0.000000

In [48]:
df = df.drop(columns=['next_pymnt_d', 'mths_since_last_record', 'mths_since_last_delinq'])

In [49]:
def missing_check(df):
    total = df.isnull().sum().sort_values(ascending=False) # total number of null values
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False) #percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) # putting the above two together
    return missing_data # return the dataframe

missing_check(df)

                         Total   Percent
desc                     12940  0.325805
emp_title                 2459  0.061913
emp_length                1075  0.027066
last_pymnt_d                71  0.001788
revol_util                  50  0.001259
title                       11  0.000277
last_credit_pull_d           2  0.000050
out_prncp                    0  0.000000
inq_last_6mths               0  0.000000
open_acc                     0  0.000000
pub_rec                      0  0.000000
revol_bal                    0  0.000000
total_acc                    0  0.000000
initial_list_status          0  0.000000
total_pymnt                  0  0.000000
out_prncp_inv                0  0.000000
delinq_2yrs                  0  0.000000
total_pymnt_inv              0  0.000000
total_rec_prncp              0  0.000000
total_rec_int                0  0.000000
total_rec_late_fee           0  0.000000
recoveries                   0  0.000000
collection_recovery_fee      0  0.000000
last_pymnt_amnt              0  0.000000
earliest_cr_line             0  0.000000
id                           0  0.000000
dti                          0  0.000000
member_id                    0  0.000000
loan_amnt                    0  0.000000
funded_amnt                  0  0.000000
funded_amnt_inv              0  0.000000
term                         0  0.000000
int_rate                     0  0.000000
installment                  0  0.000000
grade                        0  0.000000
sub_grade                    0  0.000000
home_ownership               0  0.000000
annual_inc                   0  0.000000
verification_status          0  0.000000
issue_d                      0  0.000000
loan_status                  0  0.000000
pymnt_plan                   0  0.000000
url                          0  0.000000
purpose                      0  0.000000
zip_code                     0  0.000000
addr_state                   0  0.000000

df.dtypes