# Lending Club Case Study

## Project Plan:

# Data Understanding
    1. Load the dataset
# Data Cleaning and Manipulation
    2. Explore and clean the data
    3. Address missing data and outliers
    4. Convert data to suitable/correct format
# Data Analysis
    5. Perform Univariate and Segmented Univariate Analysis
    6. Create Business-driven, type-driven, and data-driven metrics for important variables
    7. Perform Bivariate analysis to identify combinations of driver variables
    8. Create appropriate plots
# Presentation and Recommendations
    9. Clear and Concise
    10. Realistic recommendations
    11. Upload files

### Data Understanding

#### Load the Dataset & Explore

In [80]:
# Loading the Libraries

import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, time, date

In [81]:
# Loading the Data Set

df = pd.read_csv(r'C:\Users\Chris\MSc Data Science ML AI\2_Data Toolkit\LendingClubCaseStudy\loan.csv', header=0)

C:\Users\Chris\AppData\Local\Temp\ipykernel_21004\1692101709.py:3: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\Chris\MSc Data Science ML AI\2_Data Toolkit\LendingClubCaseStudy\loan.csv', header=0)

In [82]:
df.dtypes

 id                             int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [83]:
df.columns

Index([' id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [84]:
df.shape

(39717, 111)

In [85]:
df.dtypes.value_counts()

float64    74
object     24
int64      13
dtype: int64

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries,  id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [93]:
def missing_check(df):
    total = df.isnull().sum().sort_values(ascending=False) # total number of null values
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False) #percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) # putting the above two together
    return missing_data # return the dataframe

missing_check(df)

                           Total  Percent
verification_status_joint  39717      1.0
annual_inc_joint           39717      1.0
mo_sin_old_rev_tl_op       39717      1.0
mo_sin_old_il_acct         39717      1.0
bc_util                    39717      1.0
...                          ...      ...
delinq_amnt                    0      0.0
policy_code                    0      0.0
earliest_cr_line               0      0.0
delinq_2yrs                    0      0.0
 id                            0      0.0

[111 rows x 2 columns]

There are many columns where there is no data present. Dropping those columns.

In [94]:
df_drop_columns = df.dropna(axis=1, how='all')

In [95]:
df_drop_columns.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,13-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,16-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,16-Jun,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [96]:
df2 = df_drop_columns

In [97]:
def missing_check_dropped(df2):
    total = df2.isnull().sum().sort_values(ascending=False) # total number of null values
    percent = (df2.isnull().sum()/df2.isnull().count()).sort_values(ascending=False) #percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) # putting the above two together
    return missing_data # return the dataframe

missing_check_dropped(df2)

                            Total   Percent
next_pymnt_d                38577  0.971297
mths_since_last_record      36931  0.929854
mths_since_last_delinq      25682  0.646625
desc                        12940  0.325805
emp_title                    2459  0.061913
emp_length                   1075  0.027066
pub_rec_bankruptcies          697  0.017549
last_pymnt_d                   71  0.001788
chargeoff_within_12_mths       56  0.001410
collections_12_mths_ex_med     56  0.001410
revol_util                     50  0.001259
tax_liens                      39  0.000982
title                          11  0.000277
last_credit_pull_d              2  0.000050
home_ownership                  0  0.000000
int_rate                        0  0.000000
out_prncp_inv                   0  0.000000
total_pymnt                     0  0.000000
total_pymnt_inv                 0  0.000000
total_rec_prncp                 0  0.000000
total_rec_int                   0  0.000000
total_rec_late_fee              0  0.000000
recoveries                      0  0.000000
collection_recovery_fee         0  0.000000
term                            0  0.000000
last_pymnt_amnt                 0  0.000000
initial_list_status             0  0.000000
funded_amnt_inv                 0  0.000000
policy_code                     0  0.000000
application_type                0  0.000000
acc_now_delinq                  0  0.000000
funded_amnt                     0  0.000000
delinq_amnt                     0  0.000000
loan_amnt                       0  0.000000
out_prncp                       0  0.000000
total_acc                       0  0.000000
annual_inc                      0  0.000000
addr_state                      0  0.000000
verification_status             0  0.000000
issue_d                         0  0.000000
loan_status                     0  0.000000
pymnt_plan                      0  0.000000
url                             0  0.000000
sub_grade                       0  0.000000
purpose                         0  0.000000
zip_code                        0  0.000000
dti                             0  0.000000
installment                     0  0.000000
delinq_2yrs                     0  0.000000
earliest_cr_line                0  0.000000
inq_last_6mths                  0  0.000000
member_id                       0  0.000000
grade                           0  0.000000
open_acc                        0  0.000000
pub_rec                         0  0.000000
revol_bal                       0  0.000000
 id                             0  0.000000

In [99]:
df2.shape

(39717, 57)

In [104]:
df3 = df2.drop(['next_pymnt_d', 'mths_since_last_record', 'mths_since_last_delinq'], axis=1)

In [105]:
df3.shape

(39717, 54)

In [107]:
def missing_check_dropped(df3):
    total = df3.isnull().sum().sort_values(ascending=False) # total number of null values
    percent = (df3.isnull().sum()/df3.isnull().count()).sort_values(ascending=False) #percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent']) # putting the above two together
    return missing_data # return the dataframe

missing_check_dropped(df3)

                            Total   Percent
desc                        12940  0.325805
emp_title                    2459  0.061913
emp_length                   1075  0.027066
pub_rec_bankruptcies          697  0.017549
last_pymnt_d                   71  0.001788
collections_12_mths_ex_med     56  0.001410
chargeoff_within_12_mths       56  0.001410
revol_util                     50  0.001259
tax_liens                      39  0.000982
title                          11  0.000277
last_credit_pull_d              2  0.000050
total_rec_prncp                 0  0.000000
out_prncp                       0  0.000000
initial_list_status             0  0.000000
out_prncp_inv                   0  0.000000
total_acc                       0  0.000000
total_pymnt                     0  0.000000
total_pymnt_inv                 0  0.000000
collection_recovery_fee         0  0.000000
total_rec_int                   0  0.000000
total_rec_late_fee              0  0.000000
recoveries                      0  0.000000
pub_rec                         0  0.000000
last_pymnt_amnt                 0  0.000000
policy_code                     0  0.000000
application_type                0  0.000000
acc_now_delinq                  0  0.000000
delinq_amnt                     0  0.000000
revol_bal                       0  0.000000
 id                             0  0.000000
open_acc                        0  0.000000
member_id                       0  0.000000
loan_amnt                       0  0.000000
funded_amnt                     0  0.000000
funded_amnt_inv                 0  0.000000
term                            0  0.000000
int_rate                        0  0.000000
installment                     0  0.000000
grade                           0  0.000000
sub_grade                       0  0.000000
home_ownership                  0  0.000000
annual_inc                      0  0.000000
verification_status             0  0.000000
issue_d                         0  0.000000
loan_status                     0  0.000000
pymnt_plan                      0  0.000000
url                             0  0.000000
purpose                         0  0.000000
zip_code                        0  0.000000
addr_state                      0  0.000000
dti                             0  0.000000
delinq_2yrs                     0  0.000000
earliest_cr_line                0  0.000000
inq_last_6mths                  0  0.000000

In [110]:
df3.dtypes

 id                             int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
url                            object
desc                           object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [117]:
df3['term'] = df3['term'].str[:2]
df3['int_rate'] = df3['int_rate'].str[:-1]

In [118]:
df3.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,3,10.65,162.87,B,B2,...,171.62,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,6,15.27,59.83,C,C4,...,119.66,13-Sep,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,3,15.96,84.33,C,C5,...,649.91,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,3,13.49,339.31,C,C1,...,357.48,16-Apr,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,6,12.69,67.79,B,B5,...,67.79,16-May,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [119]:
df3['term'] = pd.to_numeric(df3['term'])

In [121]:
df3.dtypes

 id                             int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                            int64
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
url                            object
desc                           object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object